.message-item {
    position: relative;
    width: 350px;
    display: flex;
    align-items: center;
    gap:10px;
    color:lightgray;
    padding: 10px;
}

.message-item i{
    font-size: 20pt;
    cursor: pointer;
    color: lightgray;
}

.message-item i:hover{
    color: white;
}

.message-item img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-item article{
    padding: 20px;
    width: 330px;
    word-wrap: break-word;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.background-grey{
    background-color: grey;
}

.background-darkgrey{
    background-color: rgb(80, 80, 80);
}

.edit-menu{
    position: absolute;
    top:80px;
    left: -70px;
    background-color: rgb(80, 80, 80);
    color: lightgray;
    display: flex;
    flex-direction: column;
    gap:5px;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12pt;
}

.edit-menu a {
    padding: 10px;
    border-bottom: 1px solid grey;
}

.edit-menu a:hover{
    background-color: grey;
}

.edit-menu a:nth-child(2){
    border: none;
}

@media(max-width:720px){
    .message-item {
        width: 250px;
    }
    .message-item article{
        padding: 15px;
        font-size: 10pt;
    }
    .message-item article{
        width: 230px;
    }
    .message-item img{
        width: 30px;
        height: 30px;
    }
    .message-item i{
        font-size: 18pt;
    }
    .edit-menu{
        font-size: 10pt;
    }
}

@media(max-width:480px){
    .message-item {
        width: 170px;
    }
    .message-item article{
        width: 160px;
    }
    .message-item i{
        font-size: 16pt;
    }
    .edit-menu{
        font-size: 8pt;
        top:65px;
        left: -50px;
    }
}