<div class="modal">
    <section class="details-wrapper">
        <section class="details-image">
            <img src={{post?.imageUrl}} alt={{post?.description}}>
        </section>
        <section class="details-body">
            @if(isLoading && !isError){
            <span class="loader"></span>
            }@else if(!isLoading && isError){
            <h2>Something went wrong, please try again later!</h2>
            }@else{
            <article class="post-header">
                <div class="title">
                    <h2>{{post?.ownerId?.username}}</h2>
                    @if(curUser?._id==post?.ownerId?._id){
                    <button>Edit</button>
                    <button>Delete</button>
                    }
                    <button (click)="onBack()" id="back">X</button>
                </div>
                <div class="description">
                    <p>{{post?.description}}</p>
                </div>
            </article>
            }
            <app-profile-post-comments [commentsProp]="post?.comments" />
        </section>
    </section>
</div>