<div class="modal">
    <section class="details-wrapper">
        <section class="details-image">
            <img src={{post?.imageUrl}} alt={{post?.description}} (error)="onError($event)">
        </section>
        <section class="details-body">
            @if(isLoading && !isError){
            <span class="loader"></span>
            }@else if(!isLoading && isError){
            <h2>Something went wrong, please try again later!</h2>
            }@else{
            <article class="post-header">
                <div class="title">
                    <h2>{{post?.ownerId?.username}}</h2>
                    <p>{{post?.created_at | time}}</p>
                    @if(curUser?._id==post?.ownerId?._id){
                    <button [routerLink]="['/home','posts',post?._id,'edit']">Edit</button>
                    <button [routerLink]="['/home','posts',post?._id,'delete']">Delete</button>
                    }
                    <button (click)="onBack()" id="back">X</button>
                </div>
                <div class="description">
                    <p>{{post?.description}}</p>
                </div>
                @if(curUser){
                    @if(curUser._id==post?.ownerId?._id){
                    <div class="likes">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <p [routerLink]="['/home','posts',post?._id,'likes']">{{post?.likes?.length}}</p>
                    </div>
                    }@else{
                        @if(isLiked){
                        <div class="likes">
                            <i class="fa-solid fa-thumbs-up" id="user" (click)="onUnlike()"></i>
                            <p [routerLink]="['/home','posts',post?._id,'likes']">{{post?.likes?.length}}</p>
                        </div>
                        }@else {
                        <div class="likes">
                            <i class="fa-regular fa-thumbs-up" id="user" (click)="onLike()"></i>
                            <p [routerLink]="['/home','posts',post?._id,'likes']">{{post?.likes?.length}}</p>
                        </div>
                        }
                    }
                }@else{
                    <div class="likes">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <p [routerLink]="['/home','posts',post?._id,'likes']">{{post?.likes?.length}}</p>
                    </div>
                }
            </article>
            }
            <app-profile-post-comments [loadingProp]="isLoading" [userProp]="curUser" [errorProp]="isError"
                [commentsProp]="post?.comments" [postProp]="post"/>
        </section>
    </section>
</div>