<div class="modal">
    <form class="form" [formGroup]="editForm" (ngSubmit)="onEdit()">
        <h2>Edit post</h2>
        <p class="input">
            <label for="description">Description</label>
            <textarea type="text" name="description" id="description" formControlName="description"></textarea>
        </p>
        @if(editForm.get("description")?.touched){
        <div>
            @if(editForm.get("description")?.errors?.["required"]){
            <p class="error">Description is required!</p>
            }
            @if(editForm.get("description")?.errors?.["maxlength"]){
            <p class="error">Description must be maximum 250 characters long!</p>
            }
        </div>
        }
        <p class="input">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" formControlName="imageUrl">
        </p>
        @if(editForm.get("imageUrl")?.touched){
        <div>
            @if(editForm.get("imageUrl")?.errors?.["required"]){
            <p class="error">Image URL is required!</p>
            }
            @if(editForm.get("imageUrl")?.errors?.["pattern"]){
            <p class="error">Image URL must be valid URL!</p>
            }
        </div>
        }
        <div class="buttons">
            <button (click)="onBack($event)">Cancel</button>
            <button [disabled]="editForm.invalid">Edit</button>
        </div>
    </form>
</div>