<form class="search-form" [formGroup]="searchUserForm" (ngSubmit)="onSearch()">
    <div>
        <input type="text" name="username" placeholder="Search for users..." formControlName="username" />
        <button [disabled]="searchUserForm.invalid"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</form>
<div class="wrapper">
    @if(isSearched){
    <h1>Users found</h1>
    }@else {
    <h1>All posts</h1>
    }
    <section class="post-wrapper">
        @if(isLoading && !isError){
        <span class="loader"></span>
        }@else if(posts.length==0 && !isError && !isLoading){
        <div class="message">
            <p>No posts yet</p>
        </div>
        }@else if(isError){
        <div class="message">
            <p>Something went wrong, please try again later!</p>
        </div>
        }@else{
            @if(isSearched){
                @if(searchedResults.length>0){
                    @for (user of searchedResults; track $index) {
                    <app-user-item [userProp]="user" />
                    }
                    }@else{
                    <div class="message">
                        <p>No users found :(</p>
                    </div>
                    }
            }@else{
                @for (post of posts; track $index) {
                <app-main-posts [postProp]="post" />
                }
            }
        }
    </section>
</div>