<section class="profile-header">
    <section class="profile-header-names">
        <div class="profile-names">
            @if(isLoadingProfile && !isError){
            <span class="loader"></span>
            }@else{
            <img src={{userProfile?.profileImage}} alt={{userProfile?.username}} (error)="onError($event)"
                [routerLink]="['/profile',userProfile?._id,'image']">
            <h2>{{userProfile?.username}}</h2>
            <p>{{userProfile?.email}}</p>
            }
        </div>
        <div class="more-info">
            <p>{{posts.length}}</p>
            <p>Publications count</p>
        </div>
    </section>
    @if(curUser?._id==userProfile?._id){
    <section class="profile-buttons">
        <button [routerLink]="['/profile',userProfile?._id,'edit']">Edit profile</button>
        <button [routerLink]="['/profile',userProfile?._id,'changePassword']">Change password</button>
    </section>
    }
</section>
<section class="profile-body">
    <h2>All publications</h2>
    <section class="publication-section">
        @if(isLoadingPosts && !isError){
        <span class="loader"></span>
        <h2>Posts loading...</h2>
        }
        @for (post of posts; track $index) {
        <img src={{post.imageUrl}} alt="User post"
            [routerLink]="['/profile',userProfile?._id,'post',post._id,'details']" (error)="onImageError($event)">
        }@empty {
            @if(!isLoadingPosts && !isError){
            <h2>No publications yet.</h2>
            }@else if(!isLoadingPosts && isError){
            <h2>Something went wrong, please try again later!</h2>
            }
        }
    </section>
</section>