<form class="form">
    <h2>Register here</h2>
    <p class="input">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
    </p>
    <p class="input">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </p>
    <p class="input">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
    </p>
    <p class="input">
        <label for="repass">Repeat password</label>
        <input type="text" id="repass" name="repass">
    </p>
    <button type="submit">Submit</button>
    <p>You have account?<a routerLink="login">Login here.</a></p>
</form>