<div class="modal">
    <section class="comment-wrapper">
        <button (click)="onBack()">X</button>
        <h2>Comments to {{postOwner}}'s post</h2>
        @if(isUser){
        <form>
            <input type="text" name="content" placeholder="Write comment...">
            <button>Submit</button>
        </form>
        }
        <section class="comment-section">
            @if(isLoading && !isError){
                <span class="loader"></span>
                <h2>Comments loading...</h2>
            }
            @for (comment of comments; track $index) {
            <app-post-comments-item [commentProp]="comment" />
            }@empty {
                @if(!isLoading && !isError){
                <h2>No comments yet, be the first one!</h2>
                }@else if(!isLoading && isError){
                    <h2>Something went wrong, please try again later.</h2>
                }
            }
        </section>
    </section>
</div>