<section class="chat-header">
    @if(userId==chat?.receiver_id?._id){
        <a [routerLink]="['/profile',chat?.requester_id?._id]">
            <img src={{chat?.requester_id?.profileImage}} alt={{chat?.requester_id?.username}} (error)="onProfileImageError($event)">
        </a>
        <h2>{{chat?.requester_id?.username}}</h2>
        <p>{{chat?.requester_id?.email}}</p>
    }@else if(userId==chat?.requester_id?._id){
        <a [routerLink]="['/profile',chat?.receiver_id?._id]">
            <img src={{chat?.receiver_id?.profileImage}} alt={{chat?.receiver_id?.username}} (error)="onProfileImageError($event)">
        </a>
        <h2>{{chat?.receiver_id?.username}}</h2>
        <p>{{chat?.receiver_id?.email}}</p>
    }
</section>
<section class="chat-body">
    @for (message of chat?.messages; track $index) {
        <app-message-item 
            [messageProp]="message" 
            [userIdProp]="userId" 
            [ngClass]="(message?.owner_id?._id == userId) ? 'flex-end' : 'flex-start'">
        </app-message-item>
    }@empty {
        <div class="label">
            <h2>No messages yet.</h2>
        </div>
    }
</section>
<form class="message-form" [formGroup]="addMessageFrom" (ngSubmit)="onAdd()">
    <input type="text" name="text" placeholder="Write message..." formControlName="text">
    <button type="submit" [disabled]="addMessageFrom.invalid"><i class="fa-regular fa-paper-plane"></i></button>
</form>
