.chat-header{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    color: lightgray;
    border-bottom: 2px solid grey;
    font-size: 16pt;
}
.chat-header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.chat-body{
    display: flex;
    flex-direction: column;
    gap:30px;
    height: 100%;
}

.flex-end{
    align-self: flex-end;
}

.flex-start{
    align-self: flex-start;
}

.message-form{
    position: sticky;
    bottom:10px;
    width: 100%;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.message-form input{
    background-color: grey;
    height: 40px;
    width: 80%;
    border-radius: 30px;
    border:none;
    color: lightgray;
    padding: 10px;
    font-size: 14pt;
}

.message-form input::placeholder{
    color: lightgray;
    font-size: 14pt;
}

.message-form i{
    color: lightgray;
    font-size: 22pt;
    cursor: pointer;
}

.message-form button{
    background-color: transparent;
    border: none;
}

.message-form i:hover{
    color: white;
}

.label{
  width: 100%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media(max-width:670px){
    .chat-header{
        font-size: 12pt;
    }
    .chat-header img{
        width: 70px;
        height: 70px;
    }
    .message-form input{
        height: 30px;
        font-size: 12pt;
    }
    .message-form input::placeholder{
        font-size: 12pt;
    }
    .message-form i{
        font-size: 18pt;
    }
    .label{
        font-size: 10pt;
    }
}