@for (request of requests; track $index) {
    <article class="request-item">
        <div class="request-header">
            <a [routerLink]="['/profile',request.sender_id._id]"><img src={{request.sender_id.profileImage}} alt={{request.sender_id.username}}></a>
            <h2>{{request.sender_id.username}}</h2>
        </div>
        <p>{{request.sender_id.username}} want to chat with you.</p>
        <div class="buttons">
            <button>Decline</button>
            <button>Accept</button>
        </div>
    </article>
}@empty {
    <div>
        <h2>No requests yet.</h2>
    </div>
}
