<div class="modal">
    <form class="form" [formGroup]="changePassForm" (ngSubmit)="onChange()">
        <h2>Change your password</h2>
        <p class="input">
            <label for="newPassword">New password</label>
            @if(isVisibleNewPass){
                <i class="fa-regular fa-eye" appChangeVisability (click)="onChangeNewPass()"></i>
                }@else{
                <i class="fa-regular fa-eye-slash" appChangeVisability (click)="onChangeNewPass()"></i>
                }
            <input type="password" name="newPassword" id="newPassword" formControlName="newPassword">
        </p>
        @if(changePassForm.get("newPassword")?.touched){
            <div>
                @if(changePassForm.get("newPassword")?.errors?.["required"]){
                <p class="error">New Password is required!</p>
                }
                @if(changePassForm.get("newPassword")?.errors?.["pattern"]){
                <p class="error">Password must be at least 6 symbols long with capital letter,letters,numbers and special
                    symbol!</p>
                }
            </div>
            }
        <div class="buttons">
            <button (click)="onBack($event)">Cancel</button>
            <button [disabled]="changePassForm.invalid">Change</button>
        </div>
    </form>
</div>