.post-item {
    margin-top: 10px;
    width: 800px;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 20px;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.post-header {
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.post-header img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.post-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-buttons{
    position: absolute;
    top:15px;
    right: 10px;
    display: flex;
    gap:20px;
}

.header-buttons button{
    padding: 10px 20px 10px 20px;
    background-color: rgb(57, 199, 255);
    color: white;
    font-size: 14pt;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.header-buttons   button:hover{
    background-color: rgb(131, 220, 255);
}

.post-body img{
    width: 100%;
    border-radius:7px ;
    object-fit: cover;
    cursor: pointer;;
}

.post-body-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.post-likes {
    flex: 0 0 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:5px;
}

.post-likes-wrapper {
    flex: 0 0 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:5px;
}


.post-comments {
    flex: 0 0 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap:5px;
}

.buttons i{
    font-size: 18pt;
}

.buttons i:hover{
    cursor: pointer;
    color:white;
}

.post-likes p{
    cursor: pointer;
}

#not-user{
    cursor: default;
}

#not-user:hover{
    color: lightgray;
}

@media(max-width:950px){
    .post-item{
        width: 500px;
    }
}
@media(max-width:600px){
    .post-item{
        width: 300px;
    }

    .header-buttons{
        position: static;
        margin: 0 auto;
    }

    .header-buttons  button{
        padding: 5px 10px 5px 10px;
        font-size: 12pt;
    }

    .buttons {
        font-size: 12pt;
    }
    .buttons i{
        font-size: 14pt;
    }
    .post-likes{
        flex: 0 0 45%;
    }
}