<article class="comment-item-wrapper" [class]="owner?._id==curUserId?'owner':''">
    <div class="comment-header">
        <img src={{owner?.profileImage}} alt={{owner?.username}} [routerLink]="['/profile',owner?._id]"
            (error)="onError($event)">
        <h2>{{owner?.username}}</h2>
        @if(owner?._id==curUserId && isUser){
        <div class="owner-buttons">
            <i class="fa-solid fa-pen-to-square"
                [routerLink]="['/home','posts',comment?.postId,'comments',comment?._id,'edit']"></i>
            <i class="fa-solid fa-trash"
                [routerLink]="['/home','posts',comment?.postId,'comments',comment?._id,'delete']"></i>
        </div>
        }
        <p>{{comment?.created_at | time}}</p>
        <div class="comment-header-buttons">
            @if(isUser && curUserId){
            @if(owner?._id!=curUserId){
            @if(commentLikes.includes(curUserId)){
            <i class="fa-solid fa-thumbs-up" (click)="onUnlike()"></i>
            <p [routerLink]="['/home','posts',comment?.postId,'comments',comment?._id,'likes']">
                {{comment?.likes?.length}}</p>
            }@else{
            <i class="fa-regular fa-thumbs-up" (click)="onLike()"></i>
            <p [routerLink]="['/home','posts',comment?.postId,'comments',comment?._id,'likes']">
                {{comment?.likes?.length}}</p>
            }
            }@else{
            <i class="fa-solid fa-thumbs-up" id="owner"></i>
            <p [routerLink]="['/home','posts',comment?.postId,'comments',comment?._id,'likes']">
                {{comment?.likes?.length}}</p>
            }
            }
        </div>
    </div>
    <div class="comment-body">
        <p>{{comment?.content}}</p>
    </div>
</article>