<div class="modal">
    <section>
        <button (click)="onBack()">X</button>
        <h2>User likes list</h2>
        <section class="likes-wrapper">
            @if(likes.length>0){
                @for (like of likes; track $index) {
                    <article>
                        <img src={{like.profileImage}} alt={{like.username}} />
                        <p>{{like.username}}</p>
                    </article>
                }
            }@else{
               <p>No likes yet.</p>
            }
        </section>
    </section>
</div>