header {
    width: 100%;
    padding: 30px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
.navigation{
    flex:0 0 25%;
}

.navigation ul{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.navigation ul li a{
    padding: 20px;
    color: lightgray;
    font-weight: bold;
    font-size: 16pt;
}

.navigation ul li a:hover{
    color: white;
}

.image-wrapper{
    flex:0 0 70%;
}

.image-wrapper img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width:1750px){
    .image-wrapper{
        flex: 0 0 50%;
    }
    .navigation{
        flex: 0 0 40%;
    }
}
@media(max-width:1200px){
    .navigation ul{
        flex-direction: column;
    }
    .image-wrapper {
        flex: 0 0 70%;
    }
    .navigation{
        flex: 0 0 20%;
    }
}
@media(max-width:650px){
    header{
        flex-direction: column;
        justify-content: center;
        gap:80px;
    }
}