<header>
    <form class="search-form">
        <div>
            <input type="text" name="username" placeholder="Search for users..." />
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </form>
    <nav class="navigation">
        <ul>
            @if(isUser){
                @for (nav of userNav; track $index) {
                    <li><a [routerLink]=nav.link>{{nav.name}}</a></li>
                }
            }@else{
                @for (nav of guestNav; track $index) {
                    <li><a [routerLink]=nav.link>{{nav.name}}</a></li>
                }
            }
        </ul>
    </nav>
</header>