<section class="wrapper">
    <section class="header-wrapper">
        <section class="search">
            <form class="search-form" [formGroup]="searchUserForm" (ngSubmit)="onSearch()">
                <div>
                    <input type="text" name="username" placeholder="Search for users..." formControlName="username" />
                    <button [disabled]="searchUserForm.invalid"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </section>
        <section class="requests">
            <h3>Requests</h3>
            <div class="icon-wrapper" (click)="openRequests()">
                <i class="fa-regular fa-comment-dots"></i>
                <div class="message-balloon">
                    <p>{{requests.length}}</p>
                </div>
            </div>
        </section>
    </section>
    <section class="main-wrapper">
        <section class="chats">
           <app-chats-user-item [userIdProp]="userId" [chatsProp]="chats"></app-chats-user-item>
        </section>
        <section class="main-section">
           @if(isInit){
            <div class="main-title">
                <h2>Select chat, send request or search users for chat.</h2>
            </div>
           }@else{
                @if(isSearched){
                    <app-chats-searched-results [userIdProp]="userId" [searchedResultsProp]="searchedResults"></app-chats-searched-results>
                }@else if (isRequestsOpen) {
                    <app-chats-requests [requestsProps]="requests" [chatsProps]="chats"></app-chats-requests>
                }
           }
        </section>
    </section>
</section>

