<section class="comment-section">
    <h2>Comments</h2>
    @if(curUser){
    <form [formGroup]="commentForm" (ngSubmit)="onComment()">
        <p>
            <input type="text" name="content" placeholder="Write comment..." formControlName="content">
            @if(commentForm.get("content")?.touched){
                <div>
                    @if(commentForm.get("content")?.errors?.["required"]){
                        <p class="error">Comment field must be filled!</p>
                    }
                </div>
        }
        </p>
        <button [disabled]="commentForm.invalid">Submit</button>
    </form>
    }
    <section class="comment-wrapper">
        @if(loading && !error){
        <span class="loader"></span>
        <p>Comment loading...</p>
        }
        @for (comment of comments; track $index) {
        <app-post-comments-item [commentProp]="comment" />
        }@empty {
        @if(!loading && error){

        }@else if(!loading && !error){
        <h2>No comments yet, be the first one!</h2>
        }
        }
    </section>
</section>